{% extends "base.html" %}

{% load bootstrap5 %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deploytest/css/login_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'deploytest/css/home_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'deploytest/css/dashboard_style.css' %}">


<div class="container text-center custom-screen-size">
    <h1 class="main-header">Welcome!</h1>
    <hr class="my-4"> <!-- Horizontal line -->

    <div class="card mt-4 logo-card">
        <img src="{% static 'deploytest/images/logo.png' %}" class="img-fluid" alt="Responsive image">
    </div>
    {% provider_login_url 'google' as login_url %}
    <a href="{{ login_url }}" class="btn btn-outline-light mt-3">
        <i class="fab fa-google"></i> Sign In with Google
    </a>
</div>
{% endblock %}